<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
<!-- plantilla para acceder a la pagina y elegir el tipo de autenticacion -->
    <div class="container">
        <h1>Log-in</h1>
        <label for="email">e-mail</label>
        <input id="email" type="email" required>

        <label for="password">Password</label>
        <input id="password" type="password" required>

        <label for="session-type">Session Type</label>
        <select id="session-type">
            <option value="cookie">Cookie Session</option>
            <option value="jwt">JWT</option>
        </select>

        <button id="submit-btn" type="submit" >Log-in</button>

        <p class="redirect-text">
            Don’t have an account yet?
            <a href="/sing-up.html">Sign-up!</a>
        </p>
    </div>
    
    <script src="/js/sign-in.js"></script>
</body>
</html>